// 001.==================
.Separator {
    // ==================
    position: relative;
    // ==================
    // ==================

    // after.==================
    &::after {
        // ==================
        content: "";
        position: absolute;
        right: 0;
        z-index: 1;
        // ==================
        width: 100%;
        height: 30px;
        // ==================
        background-size: 30px 30px;
        // ==================
        background-image:
            linear-gradient(135deg, #13131a 25%, transparent 25%),
            linear-gradient(225deg, #13131a 25%, transparent 25%);
        // ==================
    }

}