/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (00) ================== */
// 001.==================
.home {
    // ==================
    position: relative;
    // ==================
    min-height: 100vh;
    // ==================
    padding-top: 28rem;
    // ==================
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    // ==================
    background-position: center;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================

        // 003.==================
        .content {
            // ==================
            flex: 1 1 40rem;
            // ==================
            animation: slide_content 0.5s linear 1s backwards;
            // ==================

            //* ==================
            @keyframes slide_content {
                0% {
                    opacity: 0;
                    transform: translateX(-10rem);
                }
            }

            // 004.==================
            span {
                // ==================
                color: $clr--11--main-color;
                // ==================
                font-size: 2rem;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 5rem;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                padding: 0.5rem 0;
                // ==================
                color: #666;
                // ==================
                font-size: 1.7rem;
                // ==================
            }
        }

        // 003.==================
        .image {
            // ==================
            position: relative;
            z-index: 0;
            // ==================
            flex: 1 1 50rem;
            // ==================
            padding-bottom: 15rem;
            // ==================

            // 004.==================
            .shoe {
                // ==================
                width: 100%;
                // ==================
                transform: rotate(-35deg);
                // ==================
                animation: shoe 0.3s linear;
                // ==================

                //* ==================
                @keyframes shoe {
                    0% {
                        transform: rotate(0deg) scale(0.5);
                    }
                }
            }

            // 004.==================
            .text {
                // ==================
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                // ==================
                animation: text 0.5s linear 0.5s backwards;
                // ==================

                //* ==================
                @keyframes text {
                    0% {
                        opacity: 0;
                        top: -10rem;
                    }
                }

                // media.==================
                @include media_max_stop(tablet) {
                    // ==================
                    width: 60%;
                    // ==================
                }
            }
        }
    }
}