/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (02) ================== */
// 001._________(home)
.home {
    // ==================
    padding-top: 10rem;
    padding-bottom: 3rem;
    // ==================
    text-align: center;
    // ==================

    // 002._________(container)__()
    .container {
        // ==================

        // 003._________(h1)__()
        h1 {
            // ==================
            color: $clr--11--secondary-color;
            // ==================
            font-size: 7.5rem;
            text-transform: uppercase;
            // ==================
        }

        // 003._________(img)__()
        img {
            // ==================
            width: 100%;
            // ==================
            margin: 1rem 0;
            // ==================
        }

        // =
    }

    // ===
}