// 001.==================
footer {
    // ==================
    position: relative;
    // ==================
    margin-top: 100px;
    // ==================
    background-color: $clr--11--main-color;
    // ==================

    // 002.==================
    .wave_s {
        // ==================

        // 003.==================
        .wave {
            // ==================
            position: absolute;
            top: -100px;
            left: 0;
            // ==================
            width: 100%;
            height: 100px;
            // ==================
            background-image: url(../img/wave00.png);
            // ==================
            background-size: 1000px 100px;
            // ==================
        }

        // 003.==================
        #wave-01 {
            // ==================
            bottom: 0;
            z-index: 1000;
            // ==================
            opacity: 1;
            // ==================
            animation: animat_wave_01 4s linear infinite;
            // ==================
        }

        // 003.==================
        #wave-02 {
            // ==================
            bottom: 10px;
            z-index: 999;
            // ==================
            opacity: 0.5;
            // ==================
            animation: animat_wave_02 3s linear infinite;
            // ==================
        }

        // 003.==================
        #wave-03 {
            // ==================
            bottom: 15px;
            z-index: 1000;
            // ==================
            opacity: 0.2;
            // ==================
            animation: animat_wave_01 3s linear infinite;
            // ==================
        }

        // 003.==================
        #wave-04 {
            // ==================
            bottom: 20px;
            z-index: 999;
            // ==================
            opacity: 0.7;
            // ==================
            animation: animat_wave_02 4s linear infinite;
            // ==================
        }

        @keyframes animat_wave_01 {

            0% {
                background-position-x: 1000px;
            }

            100% {
                background-position-x: 0px;
            }
        }

        @keyframes animat_wave_02 {

            0% {
                background-position-x: 0px;
            }

            100% {
                background-position-x: 1000px;
            }
        }
    }

    // 002.==================
    .social_icon {
        // ==================

        // 003.==================
        .container {
            // ==================
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            // ==================
            padding-top: 30px;
            padding-bottom: 30px;
            // ==================
            direction: rtl;
            // ==================

            // media==================
            @media (max-width: 767px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            // 004.==================
            li {
                // ==================
                list-style: none;
                // ==================

                // 005.==================
                a {
                    // ==================
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // ==================
                    margin: 0 20px;
                    // ==================
                    color: #fff;
                    // ==================
                    text-decoration: none;
                    // ==================

                    // 006.==================
                    i {
                        // ==================
                        padding-bottom: 15px;
                        // ==================
                        font-size: 30px;
                        // ==================
                        transition: 0.5s;
                        // ==================
                    }

                    // 006.==================
                    h3 {
                        font-size: 19px;

                        // media==================
                        @media (max-width: 786px) {
                            font-size: 14px;
                        }
                    }

                    // hover.==================
                    &:hover i {
                        // ==================
                        transform: translateY(-10px);
                        // ==================
                    }
                }
            }
        }
    }
}

// 001.==================
.copyright {
    // ==================
    color: #fff;
    background-color: $clr--11--main-color;
    // ==================

    // 002.==================
    .container {
        // ==================
        padding: 20px;
        // ==================
        font-size: 18px;
        text-align: center;
        // ==================
        border-top: 1px solid #fff;
        // ==================

        // 003.==================
        i {
            // ==================
            color: #f00;
            // ==================
        }

        // 003.==================
        p {
            // ==================
            margin-top: 10px;
            // ==================
            font-size: 15px;
            // ==================
        }
    }
}