/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (02) ================== */
// 001.==================
.home {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================
        padding-top: 10rem;
        // ==================

        // 003.==================
        .image {
            // ==================
            flex: 1 1 45rem;
            // ==================

            // 004.==================
            img {
                // ==================
                width: 100%;
                // ==================
            }
        }

        // 003.==================
        .content {
            // ==================
            flex: 1 1 45rem;
            // ==================

            // 004.==================
            h3 {
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 4.5rem;
                line-height: 1.8;
                // ==================
                text-shadow: $shadow--text--33;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: $clr--11--secondary-light;
                // ==================
                font-size: 1.7rem;
                line-height: 1.8;
                // ==================
            }
        }
    }
}