/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (03) ================== */
// 001.==================
.icons_container {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: #fff;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 4, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            padding: 2.5rem;
            // ==================
            text-align: center;
            // border-radius: 0.5rem;
            // ==================
            // border: $border--color--44;
            box-shadow: $shadow--color--33;
            // ==================
            transition: $transition--22;
            // ==================

            // media.==================
            @include media_max_stop(mobail) {
                // ==================

                //* ==================
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            //before ==================
            &::before {
                // ==================
                position: absolute;
                content: "";
                top: -3px;
                left: 50%;
                transform: translateX(-50%);
                // ==================
                height: 3px;
                width: 0;
                // ==================
                background-color: $clr--11--main-color;
                // ==================
                transition: $transition--22;
                // ==================
            }

            //hover ==================
            &:hover {
                // ==================
                transform: translateY(-10px);
                // ==================

                //before==================
                &::before {
                    // ==================
                    width: 100%;
                    // ==================
                }
            }

            // 004.==================
            i {
                // ==================
                padding-bottom: .7rem;
                // ==================
                color: $clr--11--main-color;
                // ==================
                font-size: 4.5rem;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                padding: .5rem 0;
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 4.5rem;
                // ==================
                text-shadow: $shadow--text--33;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                color: $clr--11--secondary-light;
                // ==================
                font-size: 1.7rem;
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (04) ================== */
// 001.==================
.services {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            position: relative;
            // ==================
            padding: 2.5rem;
            // ==================
            background-color: #fff;
            // ==================
            border: $border--color--44;
            border-radius: .5rem;
            // ==================
            box-shadow: $shadow--color--33;
            // ==================
            opacity: 0.8;
            transition: $transition--22;
            // ==================

            //before ==================
            &::before {
                // ==================
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                // ==================
                width: 2px;
                height: 0;
                // ==================
                background-color: $clr--11--main-color;
                transition: 1s;
                // ==================
            }

            //after ==================
            &::after {
                // ==================
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                // ==================
                width: 2px;
                height: 0;
                // ==================
                background-color: $clr--11--main-color;
                transition: 1s;
                // ==================
            }

            //hover ==================
            &:hover {
                // ==================
                opacity: 1;
                // ==================

                //before==================
                &::before,
                &::after {
                    // ==================
                    height: 100%;
                    // ==================
                }
            }

            // 004.==================
            i {
                // ==================
                padding-bottom: 0.5rem;
                // ==================
                color: $clr--11--main-color;
                // ==================
                font-size: 5rem;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                padding: 1rem 0;
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 2.5rem;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                color: $clr--11--secondary-light;
                // ==================
                font-size: 1.4rem;
                line-height: 2;
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (05) ================== */
// 001.==================
.about {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================
        justify-content: space-between;
        // ==================

        // media.==================
        @include media_max_stop(mobail) {
            // ==================
            flex-direction: column;
            // ==================
        }

        // 003.==================
        .image {
            // ==================
            flex-basis: 47%;
            // ==================

            // 004.==================
            img {
                // ==================
                max-width: 100%;
                width: 100%;
                // ==================
            }
        }

        // 003.==================
        .content {
            // ==================
            flex-basis: 47%;
            // ==================

            // 004.==================
            h3 {
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 4rem;
                line-height: 1.8;
                // ==================
                text-shadow: $shadow--text--33;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: $clr--11--secondary-light;
                // ==================
                font-size: 1.5rem;
                line-height: 1.8;
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (06) ================== */
// 001.==================
.doctors {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            padding: 2rem;
            // ==================
            background: #fff;
            // ==================
            text-align: center;
            border-radius: .5rem;
            border: $border--color--44;
            // ==================
            box-shadow: $shadow--color--33;
            // ==================

            // 004.==================
            img {
                // ==================
                height: 20rem;
                // ==================
                margin-top: 1rem;
                margin-bottom: 1rem;
                // ==================
                border-radius: .5rem;
                border: $border--color--44;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 2.5rem;
                // ==================
            }

            // 004.==================
            span {
                // ==================
                color: $clr--11--main-color;
                // ==================
                font-size: 1.5rem;
                // ==================
            }

            // 004.==================
            .share {
                // ==================
                padding-top: 2rem;
                // ==================

                // 005.==================
                a {
                    // ==================
                    width: 5rem;
                    height: 5rem;
                    line-height: 4.5rem;
                    // ==================
                    margin: .3rem;
                    // ==================
                    color: $clr--11--main-color;
                    // ==================
                    font-size: 2rem;
                    border-radius: .5rem;
                    border: $border--color--44;
                    // ==================
                    transition: $transition--22;
                    // ==================

                    // hover.==================
                    &:hover {
                        // ==================
                        color: #fff;
                        background: $clr--11--main-color;
                        // ==================
                        box-shadow: $shadow--color--33;
                        // ==================
                    }
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (07) ================== */
// 001.==================
.book {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================
        // ==================

        // 003.==================
        .image {
            // ==================
            flex: 1 1 45rem;
            // ==================

            // 004.==================
            img {
                // ==================
                width: 100%;
                // ==================
            }
        }

        // 003.==================
        form {
            // ==================
            flex: 1 1 45rem;
            // ==================
            padding: 2rem;
            // ==================
            background-color: #fff;
            // ==================
            text-align: center;
            border-radius: .5rem;
            border: $border--color--44;
            // ==================
            box-shadow: $shadow--color--33;
            // ==================

            // 004.==================
            h3 {
                // ==================
                padding-bottom: 1rem;
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 3rem;
                // ==================
            }

            // 004.==================
            .input_box {
                // ==================
                width: 100%;
                // ==================
                padding: 1rem;
                margin: .7rem 0;
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 1.6rem;
                text-transform: none;
                // ==================
                border-radius: .5rem;
                border: $border--color--44;
                // ==================
            }

            // 004.==================
            .btn {
                // ==================
                padding: 1rem 4rem;
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (08) ================== */
// 001.==================
.testimonials {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            position: relative;
            z-index: 0;
            // ==================
            padding: 2.5rem;
            // ==================
            background-color: #fff;
            // ==================
            text-align: center;
            // ==================
            border-radius: .5rem;
            border: $border--color--44;
            // ==================
            box-shadow: $shadow--color--33;
            overflow: hidden;
            // ==================

            // before.==================
            &::before {
                // ==================
                content: '';
                position: absolute;
                top: -4rem;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
                // ==================
                width: 120%;
                height: 25rem;
                // ==================
                background: $clr--11--main-color;
                // ==================
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                // ==================
            }

            // 004.==================
            img {
                // ==================
                width: 10rem;
                height: 10rem;
                // ==================
                border-radius: 50%;
                border: .5rem solid #fff;
                // ==================
                object-fit: cover;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                padding: .5rem 0;
                // ==================
                color: #fff;
                // ==================
                font-size: 2.2rem;
                // ==================
            }

            // 004.==================
            .stars {
                // ==================

                // 005.==================
                i {
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 1.5rem;
                    // ==================
                }
            }

            // 004.==================
            .text {
                // ==================
                padding-top: 4rem;
                // ==================
                color: $clr--11--secondary-light;
                // ==================
                font-size: 1.6rem;
                line-height: 1.8;
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (09) ================== */
// 001.==================
.blogs {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            padding: 2rem;
            // ==================
            border-radius: .5rem;
            border: $border--color--44;
            // ==================
            box-shadow: $shadow--color--33;
            // ==================

            // 004.==================
            .image {
                // ==================
                height: 20rem;
                // ==================
                overflow: hidden;
                // ==================
                border-radius: .5rem;
                // ==================

                // 005.==================
                img {
                    // ==================
                    height: 100%;
                    width: 100%;
                    // ==================
                    object-fit: cover;
                    // ==================
                    transition: $transition--22;
                    // ==================
                }
            }

            // hover.==================
            &:hover .image img {
                // ==================
                transform: scale(1.2);
                // ==================
            }

            // 004.==================
            .content {
                // ==================
                padding-top: 1rem;
                // ==================

                // 005.==================
                .icon {
                    // ==================
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // ==================
                    padding: 1rem 0;
                    // ==================

                    // 006.==================
                    a {
                        // ==================
                        color: $clr--11--secondary-light;
                        // ==================
                        font-size: 1.4rem;
                        // ==================
                        transition: $transition--22;
                        // ==================

                        // hover.==================
                        &:hover {
                            // ==================
                            color: $clr--11--main-color;
                            // ==================
                        }

                        // 007.==================
                        i {
                            // ==================
                            padding-right: .5rem;
                            // ==================
                            color: $clr--11--main-color;
                            // ==================
                        }
                    }
                }

                // 005.==================
                h3 {
                    // ==================
                    color: $clr--11--secondary-color;
                    // ==================
                    font-size: 3rem;
                    // ==================
                }

                // 005.==================
                p {
                    // ==================
                    padding: 1rem 0;
                    // ==================
                    color: $clr--11--secondary-light;
                    // ==================
                    font-size: 1.5rem;
                    line-height: 1.8;
                    // ==================
                }
            }
        }
    }
}