/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (00) ================== */
// 001.==================
.home {
    // ==================
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    // ==================
    background-repeat: no-repeat;
    background-position: center;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================
        align-items: center;
        // ==================
        min-height: 100vh;
        // ==================

        // 003.==================
        .content {
            // ==================
            flex: 1 1 40rem;
            // ==================
            padding-top: 10rem;
            // ==================

            // 004.==================
            h3 {
                // ==================
                color: #333;
                // ==================
                font-size: 5rem;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: #666;
                // ==================
                font-size: 1.7rem;
                // ==================
            }
        }

        // 003.==================
        .images {
            // ==================
            flex: 1 1 40rem;
            // ==================

            // 004.==================
            img {
                // ==================
                width: 100%;
                // ==================
                padding: 1rem;
                // ==================
                animation: float 3s linear infinite;
                // ==================

                // *.==================
                @keyframes float {
                    // ==================

                    0%,
                    100% {
                        // ==================
                        transform: translateY(0rem);
                        // ==================
                    }

                    50% {
                        // ==================
                        transform: translateY(3rem);
                        // ==================
                    }
                }
            }
        }

    }
}