@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.heading {
  position: relative;
  z-index: 1;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  color: #000;
  border: 2px solid #000;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.3s;
}
.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #3586ff;
  border-radius: 50%;
}
.heading::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #3586ff;
  border-radius: 50%;
}
.heading:hover {
  color: #fff;
  border: 2px solid #fff;
  transition-delay: 0.5s;
}
.heading:hover::before {
  z-index: -1;
  animation: left_move 0.5s linear forwards;
}
.heading:hover::after {
  z-index: -1;
  animation: right_move 0.5s linear forwards;
}
@keyframes left_move {
  50% {
    left: 0;
    width: 1.2px;
    height: 1.2px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right_move {
  50% {
    right: 0;
    width: 1.2px;
    height: 1.2px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

.team {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.team .container .box {
  position: relative;
}
.team .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  height: 100%;
  width: calc(100% - 60px);
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: 0.3s;
}
.team .container .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 0;
  background-color: #e4e4e4;
  border-radius: 10px;
  transition: 0.3s;
}
.team .container .box:hover::after {
  width: calc(100% - 60px);
}
.team .container .box .image {
  padding-top: 60px;
}
.team .container .box .image img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: 0.3s;
}
.team .container .box:hover .image img {
  filter: grayscale(100%);
}
.team .container .box .content {
  padding-left: 80px;
}
.team .container .box .content h3 {
  margin-top: 22px;
  color: #3586ff;
  font-size: 22px;
  text-transform: capitalize;
  transition: 0.3s;
}
.team .container .box .content .info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
.team .container .box .content .info i {
  color: #777;
  animation: moving-arrow 0.6s linear infinite;
}
.team .container .box .content .info .btn {
  margin-left: 20px;
  color: #777;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}
.team .container .box .content .info .btn:hover {
  text-decoration: underline;
}
.team .container .box:hover .content h3 {
  color: #777;
}
.team .container .box:hover .content .info i {
  color: #3586ff;
}
.team .container .box:hover .content .info .btn {
  color: #3586ff;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
footer {
  position: relative;
  margin-top: 100px;
  background-color: #3586ff;
}
footer .wave_s {
  padding-bottom: 100px;
}
footer .wave_s .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../img/wave00.png);
  background-size: 1000px 100px;
}
footer .wave_s #wave-01 {
  bottom: 0;
  z-index: 1000;
  opacity: 1;
  animation: animat_wave_01 4s linear infinite;
}
footer .wave_s #wave-02 {
  bottom: 10px;
  z-index: 999;
  opacity: 0.5;
  animation: animat_wave_02 3s linear infinite;
}
footer .wave_s #wave-03 {
  bottom: 15px;
  z-index: 1000;
  opacity: 0.2;
  animation: animat_wave_01 3s linear infinite;
}
footer .wave_s #wave-04 {
  bottom: 20px;
  z-index: 999;
  opacity: 0.7;
  animation: animat_wave_02 4s linear infinite;
}
@keyframes animat_wave_01 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animat_wave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
footer .social_icon .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  direction: rtl;
}
@media (max-width: 767px) {
  footer .social_icon .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
footer .social_icon .container li {
  list-style: none;
}
footer .social_icon .container li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}
footer .social_icon .container li a i {
  padding-bottom: 15px;
  font-size: 30px;
  transition: 0.5s;
}
footer .social_icon .container li a h3 {
  font-size: 19px;
}
@media (max-width: 786px) {
  footer .social_icon .container li a h3 {
    font-size: 14px;
  }
}
footer .social_icon .container li a:hover i {
  transform: translateY(-10px);
}

.copyright {
  color: #fff;
  background-color: #3586ff;
}
.copyright .container {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid #fff;
}
.copyright .container i {
  color: #f00;
}
.copyright .container p {
  margin-top: 10px;
  font-size: 15px;
}

/*# sourceMappingURL=main.css.map */
