/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (03) about ================== */

// 001.==================
.about {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--secondary-color;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================

        // 003.==================
        .image {
            // ==================
            flex: 1 1 45rem;
            // ==================

            // 004.==================
            img {
                // ==================
                width: 100%;
                border-radius: 0.5rem;
                // ==================
            }
        }

        // 003.==================
        .content {
            // ==================
            flex: 1 1 45rem;
            // ==================
            padding: 2rem;
            // ==================

            // 004.==================
            h3 {
                // ==================
                color: #fff;
                // ==================
                font-size: 3rem;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: #ccc;
                // ==================
                font-size: 1.6rem;
                line-height: 1.8;
                // ==================
            }
        }
    }

}


/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (04) ================== */
// 001.==================
.menu {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            position: relative;
            // ==================
            padding: 5rem;
            // ==================
            background-color: $clr--11--secondary-color;
            // ==================
            text-align: center;
            // ==================
            border: $border--44;
            // ==================
            opacity: 0.8;
            transition: $transition--22;
            // ==================

            //before ==================
            &::before {
                // ==================
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                // ==================
                width: 2px;
                height: 0;
                // ==================
                background-color: $clr--11--main-color;
                transition: 1s;
                // ==================
            }

            //after ==================
            &::after {
                // ==================
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                // ==================
                width: 2px;
                height: 0;
                // ==================
                background-color: $clr--11--main-color;
                transition: 1s;
                // ==================
            }

            //hover ==================
            &:hover {
                // ==================
                opacity: 1;
                // ==================

                //before==================
                &::before,
                &::after {
                    // ==================
                    height: 100%;
                    // ==================
                }
            }

            // 004.==================
            img {
                // ==================
                height: 10rem;
                // ==================
                transition: $transition--22;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                padding: 1rem 0;
                // ==================
                color: #fff;
                // ==================
                font-size: 2rem;
                // ==================
                transition: $transition--22;
                // ==================
            }

            // 004.==================
            .price {
                // ==================
                padding: 0.5rem 0;
                // ==================
                color: #fff;
                // ==================
                font-size: 2.5rem;
                // ==================
                transition: $transition--22;
                // ==================

                // 005.==================
                span {
                    // ==================
                    font-size: 1.5rem;
                    // ==================
                    text-decoration: line-through;
                    font-weight: lighter;
                    // ==================
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (05) ================== */
// 001.==================
.products {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--secondary-color;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            padding: 2rem;
            // ==================
            background-color: $clr--11--section-background;
            // ==================
            text-align: center;
            // ==================
            border: $border--44;
            // ==================
            transition: $transition--22;
            // ==================

            //before ==================
            &::before {
                // ==================
                position: absolute;
                content: "";
                top: -3px;
                left: 50%;
                transform: translateX(-50%);
                // ==================
                height: 3px;
                width: 0;
                // ==================
                background-color: $clr--11--main-color;
                // ==================
                transition: $transition--22;
                // ==================
            }

            //hover ==================
            &:hover {
                // ==================
                transform: translateY(-10px);
                // ==================

                //before==================
                &::before {
                    // ==================
                    width: 100%;
                    // ==================
                }
            }

            // 004.==================
            .icon {
                // ==================

                // 005.==================
                a {
                    // ==================
                    height: 5rem;
                    width: 5rem;
                    line-height: 5rem;
                    // ==================
                    margin: 0.3rem;
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 2rem;
                    border: $border--44;
                    // ==================
                    transition: $transition--22;
                    // ==================

                    // hover.==================
                    &:hover {
                        // ==================
                        background-color: $clr--11--main-color;
                        // ==================
                    }
                }
            }

            // 004.==================
            .image {
                // ==================
                padding: 2.5rem 0;
                // ==================

                img {
                    // ==================
                    height: 25rem;
                    // ==================
                }
            }

            // 004.==================
            .content {
                // ==================

                // 005.==================
                h3 {
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 2.5rem;
                    // ==================
                }

                // 005.==================
                .stars {
                    // ==================
                    padding: 1.5rem;
                    // ==================

                    // 006.==================
                    i {
                        // ==================
                        font-size: 1.7rem;
                        // ==================
                        color: $clr--11--main-color;
                        // ==================
                    }
                }

                // 005.==================
                .price {
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 2.5rem;
                    // ==================

                    // 006.==================
                    span {
                        // ==================
                        font-size: 1.5rem;
                        // ==================
                        font-weight: lighter;
                        text-decoration: line-through;
                        // ==================
                    }
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (06) ================== */
// 001.==================
.testimonials {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================
        // ==================

        // 003.==================
        .box {
            // ==================
            padding: 3rem 2rem;
            // ==================
            background-color: $clr--11--secondary-color;
            // ==================
            border: $border--44;
            text-align: center;
            // ==================

            // 004.==================
            p {
                // ==================
                padding: 2rem 0;
                // ==================
                color: #ccc;
                // ==================
                font-size: 1.5rem;
                line-height: 1.8;
                // ==================
            }

            // 004.==================
            .user {
                // ==================
                height: 7rem;
                width: 7rem;
                // ==================
                object-fit: cover;
                // ==================
                border-radius: 50%;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                padding: 1rem 0;
                // ==================
                color: #fff;
                // ==================
                font-size: 2rem;
                // ==================
            }

            // 004.==================
            .stars {
                // ==================

                // 005.==================
                i {
                    // ==================
                    color: $clr--11--main-color;
                    // ==================
                    font-size: 1.5rem;
                    // ==================
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (07) ================== */
// 001.==================
.contact {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--secondary-color;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================
        align-items: stretch;
        // ==================

        // 003.==================
        .map {
            // ==================
            flex: 1 1 45rem;
            // ==================
            width: 100%;
            // ==================
            object-fit: cover;
            // ==================
        }

        // 003.==================
        form {
            // ==================
            flex: 1 1 45rem;
            // ==================
            padding: 5rem 2rem;
            // ==================
            background-color: $clr--11--section-background;
            // ==================
            text-align: center;
            // ==================

            // 004.==================
            h3 {
                // ==================
                color: #fff;
                // ==================
                text-transform: uppercase;
                font-size: 3.5rem;
                // ==================
            }

            // 004.==================
            .input_box {
                // ==================
                display: flex;
                align-items: center;
                // ==================
                margin-top: 2rem;
                margin-bottom: 2rem;
                // ==================
                background-color: $clr--11--secondary-color;
                // ==================
                border: $border--44;
                // ==================

                // 005.==================
                span {
                    // ==================
                    padding-left: 2rem;
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 2rem;
                    // ==================
                }

                // 005.==================
                input {
                    // ==================
                    width: 100%;
                    // ==================
                    padding: 2rem;
                    // ==================
                    color: #fff;
                    background: none;
                    // ==================
                    font-size: 1.7rem;
                    text-transform: none;
                    // ==================
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (00) ================== */
// 001.==================
.blogs {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            border: $border--44;
            // ==================

            // 004.==================
            .image {
                // ==================
                height: 25rem;
                width: 100%;
                // ==================
                overflow: hidden;
                // ==================

                // 005.==================
                img {
                    // ==================
                    height: 100%;
                    width: 100%;
                    // ==================
                    object-fit: cover;
                    // ==================
                    transition: $transition--22;
                    // ==================
                }
            }

            // hover.==================
            &:hover .image img {
                // ==================
                transform: scale(1.2);
                // ==================
            }

            // 004.==================
            .content {
                // ==================
                padding: 2rem;
                // ==================

                // 005.==================
                .title {
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 2.5rem;
                    line-height: 1.5;
                    // ==================
                    transition: $transition--22;
                    // ==================

                    // hover.==================
                    &:hover {
                        // ==================
                        color: $clr--11--main-color;
                        // ==================
                    }
                }

                // 005.==================
                span {
                    // ==================
                    display: block;
                    // ==================
                    padding-top: 1rem;
                    // ==================
                    color: $clr--11--main-color;
                    // ==================
                    font-size: 2rem;
                    // ==================
                }

                // 005.==================
                p {
                    // ==================
                    padding: 1rem 0;
                    // ==================
                    color: #ccc;
                    // ==================
                    font-size: 1.6rem;
                    // ==================
                    line-height: 1.7;
                    // ==================
                }
            }
        }
    }
}