/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (10) ================== */
// 001.==================
.footer {
    // ==================
    padding-top: $padding-top--22;
    // ==================
    background-color: $clr--11--footer-background;
    // ==================
    color: #b9b9b9;
    font-size: 1.4rem;

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 4, 4);
        // ==================

        // media.==================
        @include media_max_stop(tablet) {
            text-align: center;
        }

        // 003.==================
        .box_social {
            // ==================

            // 004.==================
            .col {
                // ==================
                display: flex;
                justify-content: center;
                // ==================
                margin-bottom: 1rem;
                // ==================

                // 005.==================
                li {
                    // ==================
                    margin-right: 1rem;
                    // ==================

                    // 006.==================
                    a {
                        // ==================
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        // ==================
                        width: 50px;
                        height: 50px;
                        // ==================
                        color: #fff;
                        background-color: #313131;
                        // ==================
                        font-size: 2rem;
                        // ==================
                        transition: $transition--22;
                        // ==================

                        // hover.==================
                        &.twitter:hover {
                            // ==================
                            background-color: #1da1f2;
                            // ==================
                        }

                        // hover.==================
                        &.youtube:hover {
                            // ==================
                            background-color: #ff0000;
                            // ==================
                        }

                        // hover.==================
                        &.facebook:hover {
                            // ==================
                            background-color: #1877f2;
                            // ==================
                        }

                        // hover.==================
                        &.instagram:hover {
                            // ==================
                            background-color: #c13584;
                            // ==================
                        }

                        // hover.==================
                        &.linkedin:hover {
                            // ==================
                            background-color: #0077b5;
                            // ==================
                        }

                        // hover.==================
                        &.pinterest:hover {
                            // ==================
                            background-color: #e60023;
                            // ==================
                        }
                    }
                }
            }

        }

        // 003.==================
        .box_link {
            // ==================

            // 004.==================
            li {
                // ==================
                padding: 1.5rem 0;
                // ==================
                transition: $transition--22;
                // ==================

                // media.==================
                @include media_min_start(tablet) {
                    // ==================

                    // *.==================
                    &:first-child {
                        padding-top: 0;
                    }

                    // *.==================
                    &:not(:last-child) {
                        // ==================
                        border-bottom: $border--footer--44;
                        // ==================
                    }
                }

                // hover.==================
                &:hover {
                    // ==================
                    padding-left: 1rem;
                    // ==================
                }

                // 005.==================
                a {
                    // ==================
                    color: #b9b9b9;
                    font-size: 1.5rem;
                    // ==================
                    transition: $transition--22;
                    // ==================

                    // before.==================
                    &::before {
                        // ==================
                        content: "\F101";
                        font-family: "Font Awesome 5 Free";
                        // ==================
                        margin-right: 1rem;
                        // ==================
                        color: $clr--11--main-color;
                        // ==================
                        font-size: 1.5rem;
                        font-weight: 900;
                        // ==================
                    }
                }

                // hover.==================
                &:hover a {
                    // ==================
                    color: white;
                    // ==================
                }
            }
        }

        // 003.==================
        .box_time {
            // ==================

            // 004.==================
            .col {
                // ==================
                display: flex;
                align-items: stretch;
                // ==================
                margin-bottom: 3rem;
                // ==================

                // media.==================
                @include media_max_stop(tablet) {
                    // ==================
                    flex-direction: column;
                    align-items: center;
                    // ==================
                    margin-bottom: 1rem;
                    // ==================
                }

                // 005.==================
                i {
                    // ==================
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    // ==================
                    color: $clr--11--main-color;
                    // ==================
                    font-size: 2rem;
                    // ==================
                }

                // 005.==================
                p {
                    // ==================
                    font-size: 1.4rem;
                    line-height: 1.5;
                    // ==================

                    // 006.==================
                    span {
                        // ==================
                        display: block;
                        // ==================
                        color: #b9b9b9;
                        // ==================
                    }
                }
            }
        }

        // 003.==================
        .box_info {
            // ==================

            // 004.==================
            a {
                // ==================
                display: block;
                // ==================
                padding: 1rem 0;
                // ==================
                color: #b9b9b9;
                // ==================
                font-size: 1.4rem;
                text-transform: none;
                // ==================

                // 005.==================
                i {
                    // ==================
                    padding-right: 0.5rem;
                    // ==================
                    color: $clr--11--main-color;
                    // ==================
                }
            }
        }
    }

    // 002.==================
    .copyright {
        // ==================
        padding: 2.5rem 0;
        // ==================
        color: white;
        // ==================
        text-align: center;
        // ==================
        border-top: $border--footer--44;
        // ==================

        // 003.==================
        span {
            // ==================
            color: $clr--11--main-color;
            // ==================
            font-size: 1.7rem;
            // ==================
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (11) ================== */
// 001.==================
#scroll_top {
    // ==================
    position: fixed;
    right: -10%;
    top: calc(100% - 12rem);
    z-index: 999;
    // ==================
    padding: 0.5rem 1rem;
    // ==================
    color: #fff;
    background-color: $clr--11--main-color;
    // ==================
    font-size: 2rem;
    border-radius: 0.5rem;
    // ==================
    transition: $transition--22;
    // ==================


    // js
    // (scroll_top => (toggle("active")))
    &.active {
        // ==================
        right: 2rem;
        // ==================
    }
}