/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (03) ================== */
// 001.==================
.about {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(8);
        // ==================

        // 003.==================
        .image {
            // ==================
            position: relative;
            // ==================
            flex: 1 1 42rem;
            // ==================

            // before.==================
            &::before,
            &::after {
                // ==================
                content: '';
                position: absolute;
                z-index: -1;
                z-index: 0;
                // ==================
                height: 15rem;
                width: 15rem;
                // ==================
                background-color: $clr--11--main-color;
                // ==================
            }

            // before.==================
            &::before {
                // ==================
                top: 0;
                left: 0;
                // ==================
            }

            // after.==================
            &::after {
                // ==================
                bottom: 0;
                right: 0;
                // ==================
            }

            // 004.==================
            img {
                // ==================
                position: relative;
                z-index: 1;
                // ==================
                width: 100%;
                // ==================
                padding: 2rem;
                // ==================
            }
        }

        // 003.==================
        .content {
            // ==================
            flex: 1 1 42rem;
            // ==================

            // 004.==================
            span {
                // ==================
                color: $clr--11--main-color;
                // ==================
                font-size: 2rem;
                // ==================
            }

            // 004.==================
            .title {
                // ==================
                margin-top: 0.5rem;
                // ==================
                color: #fff;
                // ==================
                font-size: 4rem;
                // ==================

                // media.==================
                @include media_max_stop(mobail) {
                    // ==================
                    font-size: 3rem;
                    // ==================
                }
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: #aaa;
                // ==================
                font-size: 1.5rem;
                line-height: 2;
                // ==================
            }

            // 004.==================
            .box_container {
                // ==================
                @include grid(1, 2, 2, 2);
                // ==================
                margin-top: 1rem;
                // ==================

                // 005.==================
                .box {
                    // ==================
                    // ==================
                    // ==================

                    // 006.==================
                    h3 {
                        // ==================
                        color: #fff;
                        // ==================
                        font-size: 2rem;
                        // ==================

                        // 007.==================
                        i {
                            // ==================
                            padding-right: 1.5rem;
                            // ==================
                            color: $clr--11--main-color;
                            // ==================
                        }
                    }
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (04) ================== */
// 001.==================
.features {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================
        gap: 0;
        // ==================

        // 003.==================
        .box {
            // ==================
            background-color: $clr--11--body-background;
            // ==================

            //* ==================
            &.second {
                // ==================
                display: flex;
                flex-direction: column-reverse;
                // ==================

                @media(max-width: 768px) {
                    // ==================
                    flex-direction: column;
                    // ==================
                }
            }

            // 004.==================
            .image {
                // ==================
                height: 30rem;
                width: 100%;
                // ==================
                overflow: hidden;
                // ==================

                // 005.==================
                img {
                    // ==================
                    height: 100%;
                    width: 100%;
                    // ==================
                    object-fit: cover;
                    // ==================
                    transition: $transition--22;
                    // ==================
                }

                // hover.==================
                &:hover img {
                    // ==================
                    transform: scale(1.1);
                    // ==================
                }
            }


            // 004.==================
            .content {
                // ==================
                padding: 2rem;
                // ==================
                text-align: center;
                // ==================

                // 005.==================
                img {
                    // ==================
                    height: 9rem;
                    // ==================
                    margin-bottom: 1rem;
                    // ==================
                    filter: invert(1);
                    // ==================
                }

                // 005.==================
                h3 {
                    // ==================
                    color: $clr--11--main-color;
                    // ==================
                    font-size: 2rem;
                    // ==================
                }

                // 005.==================
                p {
                    // ==================
                    padding: 1rem 0;
                    // ==================
                    color: #aaa;
                    // ==================
                    font-size: 1.5em;
                    line-height: 2;
                    // ==================
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (05) ================== */
// 001.==================
.pricing {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 3, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            background-color: $clr--11--section-background;
            // ==================
            text-align: center;
            color: #fff;
            // ==================

            // 004.==================
            .head {
                // ==================
                padding: 4rem 2rem;
                // ==================
                border-top: $border--color--44;
                border-bottom: $border--color--44;
                // ==================

                // 005.==================
                h3 {
                    // ==================
                    margin-bottom: 2rem;
                    // ==================
                    font-size: 2.5rem;
                    font-weight: normal;
                    text-transform: uppercase;
                    // ==================
                }

                // 005.==================
                span {
                    // ==================
                    font-size: 6rem;
                    font-weight: bold;
                    color: $clr--11--main-color;
                    // ==================

                    // before.==================
                    &::before {
                        // ==================
                        content: "$";
                        position: relative;
                        top: -4rem;
                        // ==================
                        margin-right: 1.5rem;
                        // ==================
                        color: #fff;
                        // ==================
                        font-size: 2.5rem;
                        font-weight: normal;
                        // ==================
                    }

                    // after.==================
                    &::after {
                        // ==================
                        content: "/Mo";
                        position: relative;
                        right: -1.5rem;
                        // ==================
                        color: #fff;
                        // ==================
                        font-size: 2rem;
                        // ==================
                    }
                }
            }

            // 004.==================
            ul {
                // ==================
                // ==================
                border-bottom: $border--color--44;
                // ==================

                // 005.==================
                li {
                    // ==================
                    position: relative;
                    // ==================
                    padding: 2rem;
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 1.4rem;
                    line-height: 2;
                    // ==================

                    // after.==================
                    &:not(:last-child)::after {
                        // ==================
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        // ==================
                        height: 0.1rem;
                        width: 14rem;
                        // ==================
                        background-color: $clr--11--main-color;
                        // ==================
                    }
                }
            }

            // 004.==================
            .btn {
                // ==================
                margin: 1.5rem;
                // ==================
            }
        }

    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (06) ================== */
// 001.==================
.trainers {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 4, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            position: relative;
            // ==================
            height: 40rem;
            // ==================
            overflow: hidden;
            // ==================

            // 004.==================
            img {
                // ==================
                height: 100%;
                width: 100%;
                // ==================
                object-fit: cover;
                // ==================
                border: 1px solid #000;
                // ==================
            }

            // 004.==================
            .content {
                // ==================
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                transform: translateY(6.5rem);
                // ==================
                padding: 2rem;
                // ==================
                background-color: $clr--11--body-background;
                // ==================
                transition: $transition--22;
                // ==================

                // 005.==================
                span {
                    // ==================
                    color: $clr--11--main-color;
                    // ==================
                    font-size: 1.5rem;
                    // ==================
                }

                // 005.==================
                h3 {
                    // ==================
                    padding-top: 0.5rem;
                    // ==================
                    color: #fff;
                    // ==================
                    font-size: 2rem;
                    // ==================
                }

                // 005.==================
                .share {
                    // ==================
                    margin-top: 1.5rem;
                    padding-top: 2rem;
                    // ==================
                    border-top: 0.1rem solid #aaa;
                    // ==================

                    // 006.==================
                    a {
                        // ==================
                        margin-right: 1.5rem;
                        // ==================
                        color: #fff;
                        // ==================
                        font-size: 2rem;
                        // ==================
                        transition: $transition--22;
                        // ==================

                        // hover.==================
                        &:hover {
                            // ==================
                            color: $clr--11--main-color;
                            // ==================
                        }
                    }
                }
            }

            // hover.==================
            &:hover .content {
                // ==================
                transform: translateY(0);
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (07) ================== */
// 001.==================
.banner {
    // ==================
    position: relative;
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
        url(../images/banner-bg.jpg);
    // ==================
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // ==================
    text-align: center;
    // ==================

    // 002.==================
    .container {
        // ==================

        // 003.==================
        span {
            // ==================
            color: $clr--11--main-color;
            // ==================
            font-size: 2rem;
            // ==================
        }

        // 003.==================
        h3 {
            // ==================
            padding-top: 1rem;
            // ==================
            color: #fff;
            // ==================
            font-size: 3.5rem;
            text-transform: uppercase;
            // ==================
        }

        // 003.==================
        p {
            // ==================
            margin: 1rem auto;
            max-width: 60rem;
            // ==================
            color: #aaa;
            // ==================
            font-size: 1.5rem;
            line-height: 2;
            // ==================
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (08) ================== */
// 001.==================
.testimonials {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--body-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================

        // 003.==================
        .information {
            // ==================
            flex: 1 1 35rem;
            // ==================

            // 004.==================
            h3 {
                // ==================
                padding-top: 1rem;
                // ==================
                color: #fff;
                // ==================
                font-size: 3rem;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: #aaa;
                // ==================
                font-size: 1.5rem;
                line-height: 2;
                // ==================
            }
        }

        // 003.==================
        .container_slider {
            // ==================
            flex: 1 1 57rem;
            // ==================

            // 004.==================
            .www {
                // ==================

                // 005.==================
                .box {
                    // ==================
                    padding: 2rem 3rem;
                    margin-bottom: 5rem;
                    // ==================
                    background: linear-gradient(130deg, $clr--11--section-background 93%, transparent 90%);
                    // ==================

                    // 006.==================
                    p {
                        // ==================
                        color: #aaa;
                        // ==================
                        font-size: 1.5rem;
                        line-height: 2;
                        // ==================
                    }

                    // 006.==================
                    .user {
                        // ==================
                        display: flex;
                        align-items: center;
                        // ==================
                        margin-top: 1.5rem;
                        // ==================

                        // 007.==================
                        img {
                            // ==================
                            height: 5rem;
                            width: 5rem;
                            // ==================
                            margin-right: 1rem;
                            // ==================
                            border-radius: 50%;
                            // ==================
                            object-fit: cover;
                            // ==================
                        }

                        // 007.==================
                        .info {
                            // ==================
                            // ==================

                            // 008.==================
                            h3 {
                                // ==================
                                color: #fff;
                                // ==================
                                font-size: 2rem;
                                // ==================
                            }

                            // 008.==================
                            span {
                                // ==================
                                color: $clr--11--main-color;
                                // ==================
                                font-size: 1.5rem;
                                // ==================
                            }
                        }

                        // 001.==================
                        i {
                            // ==================
                            margin-left: auto;
                            margin-right: 2rem;
                            // ==================
                            color: $clr--11--main-color;
                            // ==================
                            font-size: 5rem;
                            // ==================
                        }
                    }
                }
            }
        }
    }

    // 002.==================
    .swiper {
        // ==================

        // 003.==================
        .swiper-pagination {
            // ==================

            .swiper-pagination-bullet {
                // ==================
                height: 2rem;
                width: 2rem;
                // ==================
                background-color: #fff;
                // ==================
                border-radius: 5rem;
                // ==================

                &.swiper-pagination-bullet-active {
                    // ==================
                    background-color: $clr--11--main-color;
                    // ==================
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (09) ================== */
// 001.==================
.blogs {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container_slider {
        // ==================

        // 003.==================
        .www {
            // ==================

            // 004.==================
            .box {
                // ==================
                margin-bottom: 7rem;
                // ==================
                background-color: $clr--11--body-background;
                // ==================

                // 005.==================
                .image {
                    // ==================
                    height: 25rem;
                    width: 100%;
                    // ==================
                    overflow: hidden;
                    // ==================

                    // 006.==================
                    img {
                        // ==================
                        height: 100%;
                        width: 100%;
                        // ==================
                        object-fit: cover;
                        // ==================
                        transition: $transition--22;
                        // ==================
                    }
                }

                // hover.==================
                &:hover .image img {
                    // ==================
                    transform: scale(1.1);
                    // ==================
                }

                // 005.==================
                .content {
                    // ==================
                    padding: 2rem;
                    // ==================

                    // 006.==================
                    .link {
                        // ==================
                        padding-bottom: 2rem;
                        // ==================
                        font-size: 1.5rem;
                        // ==================

                        // 007.==================
                        a {
                            // ==================
                            color: $clr--11--main-color;
                            // ==================
                            transition: $transition--22;
                            // ==================

                            // hover.==================
                            &:hover {
                                // ==================
                                color: #fff;
                                // ==================
                            }
                        }

                        // 007.==================
                        span {
                            // ==================
                            padding: 0 1rem;
                            // ==================
                            color: #fff;
                            // ==================
                        }
                    }

                    // 006.==================
                    h3 {
                        // ==================
                        color: #fff;
                        // ==================
                        font-size: 2rem;
                        line-height: 1.5;
                        // ==================
                    }

                    // 006.==================
                    p {
                        // ==================
                        padding: 1rem 0;
                        // ==================
                        color: #aaa;
                        // ==================
                        font-size: 1.5rem;
                        line-height: 2;
                        // ==================
                    }
                }

            }
        }
    }

    // 002.==================
    .swiper {
        // ==================

        // 003.==================
        .swiper-pagination {
            // ==================

            .swiper-pagination-bullet {
                // ==================
                height: 2rem;
                width: 2rem;
                // ==================
                background-color: #fff;
                // ==================
                border-radius: 0;
                // ==================

                &.swiper-pagination-bullet-active {
                    // ==================
                    background-color: $clr--11--main-color;
                    // ==================
                }
            }
        }
    }
}