@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    // ==================
    margin-left: auto;
    margin-right: auto;
    // ==================

    @media (min-width: 768px) {
        width: 750px;
        // ==================
    }

    @media (min-width: 992px) {
        width: 970px;
        // ==================
    }

    @media (min-width: 1200px) {
        width: 1170px;
        // ==================
    }
}