/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (02) ================== */
// 001.==================
.home {
    // ==================
    padding-top: ($padding-top--22 + 7rem);
    padding-bottom: $padding-bottom--22;
    // ==================
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================

        // 003.==================
        .content {
            // ==================
            flex: 1 1 42rem;
            // ==================

            // media.==================
            @include media_max_stop(mobail) {
                // ==================
                text-align: center;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 4.5rem;
                // ==================

                // media.==================
                @include media_max_stop(mobail) {
                    // ==================
                    font-size: 3.5rem;
                    // ==================
                }
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: $clr--11--secondary-light;
                // ==================
                font-size: 1.4rem;
                line-height: 2;
                // ==================
            }
        }

        // 003.==================
        .box_slider {
            // ==================
            flex: 1 1 42rem;
            margin-top: 2rem;
            // ==================
            text-align: center;
            // ==================

            // 004.==================
            .swiper-wrapper {
                // ==================

                // 005.==================
                a {
                    // ==================

                    // 006.==================
                    img {
                        // ==================
                        height: 25rem;
                        // ==================
                        transition: $transition--22;
                        // ==================
                    }

                    // hover.==================
                    &:hover img {
                        // ==================
                        transform: scale(0.9);
                        // ==================
                    }
                }

            }

            // 004.==================

            .stand {
                // ==================
                width: 100%;
                // ==================
                margin-top: -2rem;
                // ==================
            }
        }
    }
}