/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (03) ================== */
// 001.==================
.icons_container {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include grid(1, 2, 4, 2);
        // ==================

        // 003.==================
        .box {
            // ==================
            @include flex_wrap(1.5);
            // ==================
            padding: 2rem;
            // ==================
            background-color: $clr--11--section-background;
            // ==================
            transition: $transition--22;
            // ==================

            // media.==================
            @include media_max_stop(mobail) {
                // ==================

                //* ==================
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            //before ==================
            &::before {
                // ==================
                position: absolute;
                content: "";
                top: -3px;
                left: 50%;
                transform: translateX(-50%);
                // ==================
                height: 3px;
                width: 0;
                // ==================
                background-color: $clr--11--main-color;
                // ==================
                transition: $transition--22;
                // ==================
            }

            //hover ==================
            &:hover {
                // ==================
                transform: translateY(-10px);
                // ==================

                //before==================
                &::before {
                    // ==================
                    width: 100%;
                    // ==================
                }
            }

            // 004.==================
            i {
                // ==================
                color: $clr--11--main-color;
                // ==================
                font-size: 3.5rem;
                // ==================
                transition: $transition--22;
                // ==================
            }

            // 004.==================
            .content {
                // ==================

                // 005.==================
                h3 {
                    // ==================
                    padding-bottom: 0.5rem;
                    // ==================
                    color: $clr--11--secondary-color;
                    // ==================
                    font-size: 2.2rem;
                    // ==================
                    transition: $transition--22;
                    // ==================
                }

                // 005.==================
                p {
                    // ==================
                    color: $clr--11--secondary-light;
                    // ==================
                    font-size: 1.4rem;
                    // ==================
                    transition: $transition--22;
                    // ==================
                }
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (04) ================== */
// 001.==================
.featured {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container_slider {
        // ==================

        // 003.==================
        .www {
            // ==================

            // 004.==================
            .box {
                // ==================
                position: relative;
                // ==================
                /* width: 25rem; */
                margin: 2rem 0;
                // ==================
                border: $border--44;
                text-align: center;
                // ==================
                overflow: hidden;
                // ==================
                transition: $transition--22;
                // ==================

                // hover.==================
                &:hover {
                    // ==================
                    border: $border--color--44;
                    // ==================
                }

                // 005.==================
                .icons {
                    // ==================
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    transform: translateY(-105%);
                    // ==================
                    background-color: #fff;
                    // ==================
                    border-bottom: $border--color--44;
                    // ==================
                    transition: $transition--22;
                    // ==================

                    // 006.==================
                    a {
                        // ==================
                        padding: 1.3rem 1.5rem;
                        // ==================
                        color: $clr--11--secondary-color;
                        // ==================
                        font-size: 2.2rem;
                        // ==================
                        transition: $transition--22;
                        // ==================

                        // hover.==================
                        &:hover {
                            // ==================
                            color: #fff;
                            background-color: $clr--11--main-color;
                            // ==================
                        }
                    }
                }

                // hover.==================
                &:hover .icons {
                    // ==================
                    transform: translateY(0%);
                    // ==================
                }

                // 005.==================
                .image {
                    // ==================
                    padding: 1rem;
                    // ==================
                    background: linear-gradient(15deg, #d5d5d5 30%, #fff 30.1%);
                    // ==================
                    transition: $transition--22;
                    // ==================

                    // 006.==================
                    img {
                        // ==================
                        height: 25rem;
                        // ==================
                    }
                }

                // hover.==================
                &:hover .image {
                    // ==================
                    transform: translateY(6rem);
                    // ==================
                }

                // 005.==================
                .content {
                    // ==================
                    padding: 1.5rem;
                    // ==================
                    background-color: #d5d5d5;
                    // ==================

                    // 006.==================
                    h3 {
                        // ==================
                        color: $clr--11--secondary-color;
                        // ==================
                        font-size: 2rem;
                        // ==================
                    }

                    // 006.==================
                    .price {
                        // ==================
                        padding-top: 1rem;
                        // ==================
                        color: $clr--11--secondary-color;
                        // ==================
                        font-size: 2.2rem;
                        // ==================

                        // 001.==================
                        span {
                            // ==================
                            color: $clr--11--secondary-light;
                            // ==================
                            font-size: 1.5rem;
                            // ==================
                            text-decoration: line-through;
                            // ==================
                        }
                    }
                }

            }
        }
    }

    // 002.==================
    .swiper {
        // ==================

        // 003.==================
        .swiper-button-next,
        .swiper-button-prev {
            // ==================
            height: 4rem;
            width: 4rem;
            // ==================
            color: $clr--11--secondary-color;
            background-color: #fff;
            // ==================
            border: $border--color--44;
            // ==================
        }

        // after.==================
        .swiper-button-next::after,
        .swiper-button-prev::after {
            // ==================
            font-size: 2rem;
            // ==================
        }

        // hover.==================
        .swiper-button-next:hover,
        .swiper-button-prev:hover {
            // ==================
            color: #fff;
            background-color: $clr--11--secondary-color;
            // ==================
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (05) ================== */
// 001.==================
.newsletter {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-image: url(../images/letter-bg.jpg);
    background-size: cover;
    // ==================
    background-repeat: no-repeat;
    background-position: center;
    // ==================
    background-attachment: fixed;
    // ==================

    // media.==================
    @include media_max_stop(mobail) {
        // ==================
        background-position: right;
        // ==================
    }

    // 002.==================
    .container {
        // ==================

        // 003.==================
        form {
            // ==================
            max-width: 45rem;
            // ==================
            padding: 5rem 0;
            margin-left: auto;
            // ==================
            text-align: center;
            // ==================

            // media.==================
            @include media_max_stop(mobail) {
                // ==================
                max-width: 100%;
                // ==================
                margin-left: 0;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                padding-bottom: 0.7rem;
                // ==================
                color: #fff;
                // ==================
                font-size: 2.2rem;
                font-weight: normal;
                // ==================
            }

            // 004.==================
            .box {
                // ==================
                width: 100%;
                // ==================
                margin: 0.7rem 0;
                padding: 1rem 1.2rem;
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 1.6rem;
                text-transform: none;
                border-radius: 0.5rem;
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (06) ================== */
// 001.==================
.arrivals {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container_slider {
        // ==================

        // 003.==================
        .www {
            // ==================

            // 004.==================
            .box {
                // ==================
                @include flex_wrap(1.5);
                // ==================
                margin: 1rem 0;
                padding: 2rem 1rem;
                // ==================
                border: $border--44;
                // ==================
                transition: $transition--22;
                // ==================

                // hover.==================
                &:hover {
                    // ==================
                    border: $border--color--44;
                    // ==================
                }

                // 005.==================
                .image {
                    // ==================

                    // 006.==================
                    img {
                        // ==================
                        height: 15rem;
                        // ==================
                    }
                }

                // 005.==================
                .content {
                    // ==================

                    // 006.==================
                    h3 {
                        // ==================
                        color: $clr--11--secondary-color;
                        // ==================
                        font-size: 2rem;
                        // ==================
                    }

                    // 006.==================
                    .price {
                        // ==================
                        padding-bottom: 0.5rem;
                        // ==================
                        color: $clr--11--secondary-color;
                        // ==================
                        font-size: 2.2rem;
                        // ==================

                        // 007.==================
                        span {
                            // ==================
                            color: $clr--11--secondary-light;
                            // ==================
                            font-size: 1.5rem;
                            text-decoration: line-through;
                            // ==================
                        }
                    }

                    // 006.==================
                    .stars {
                        // ==================

                        // 007.==================
                        i {
                            // ==================
                            color: $clr--11--main-color;
                            // ==================
                            font-size: 1.5rem;
                            // ==================
                        }
                    }
                }

            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (07) ================== */
// 001.==================
.offer {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container {
        // ==================
        @include flex_wrap(1.5);
        // ==================

        // 003.==================
        .content {
            // ==================
            flex: 1 1 42rem;
            // ==================

            // media.==================
            @include media_max_stop(mobail) {
                // ==================
                text-align: center;
                // ==================
            }

            // 004.==================
            h3 {
                // ==================
                padding-bottom: 0.5rem;
                // ==================
                color: $clr--11--main-color;
                // ==================
                font-size: 2.5rem;
                // ==================
            }

            // 004.==================
            h1 {
                // ==================
                color: $clr--11--secondary-color;
                // ==================
                font-size: 4rem;
                // ==================
            }

            // 004.==================
            p {
                // ==================
                padding: 1rem 0;
                // ==================
                color: $clr--11--secondary-light;
                // ==================
                font-size: 1.4rem;
                line-height: 2;
                // ==================

                // media.==================
                @include media_max_stop(mobail) {
                    // ==================
                    width: 68%;
                    margin: 0 auto;
                    // ==================
                }
            }
        }

        // 003.==================
        .image {
            // ==================
            flex: 1 1 42rem;
            // ==================

            // 004.==================
            img {
                // ==================
                width: 100%;
                // ==================
            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (08) ================== */
// 001.==================
.testimonials {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================

    // 002.==================
    .container_slider {
        // ==================

        // 003.==================
        .www {
            // ==================

            // 004.==================
            .box {
                // ==================
                /* width: 30rem; */
                padding: 2rem;
                margin: 2rem 0;
                // ==================
                text-align: center;
                border: $border--44;
                // ==================
                transition: $transition--22;
                // ==================

                // hover.==================
                &:hover {
                    // ==================
                    border: $border--color--44;
                    // ==================
                }

                // 005.==================
                img {
                    // ==================
                    height: 7rem;
                    width: 7rem;
                    // ==================
                    border-radius: 50%;
                    // ==================
                    object-fit: cover;
                    // ==================
                }

                // 005.==================
                h3 {
                    // ==================
                    padding: 0.5rem 0;
                    // ==================
                    color: $clr--11--secondary-color;
                    // ==================
                    font-size: 2.2rem;
                    // ==================
                }

                // 005.==================
                p {
                    // ==================
                    padding: 1rem 0;
                    // ==================
                    color: $clr--11--secondary-light;
                    // ==================
                    font-size: 1.4rem;
                    line-height: 2;
                    // ==================
                }

                // 005.==================
                .stars {
                    // ==================

                    // 006.==================
                    i {
                        // ==================
                        color: $clr--11--main-color;
                        // ==================
                        font-size: 1.7rem;
                        // ==================
                    }
                }

            }
        }
    }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (09) ================== */
// 001.==================
.blogs {
    // ==================
    padding-top: $padding-top--22;
    padding-bottom: $padding-bottom--22;
    // ==================
    background-color: $clr--11--section-background;
    // ==================

    // 002.==================
    .container_slider {
        // ==================

        // 003.==================
        .www {
            // ==================

            // 004.==================
            .box {
                // ==================
                /* width: 30rem; */
                margin: 2rem 0;
                // ==================
                border: $border--44;
                // ==================
                transition: $transition--22;
                // ==================
                background-color: #fff;

                // hover.==================
                &:hover {
                    // ==================
                    border: $border--color--44;
                    // ==================
                }

                // 005.==================
                .image {
                    // ==================
                    height: 25rem;
                    width: 100%;
                    // ==================
                    overflow: hidden;
                    // ==================

                    // 006.==================
                    img {
                        // ==================
                        height: 100%;
                        width: 100%;
                        // ==================
                        object-fit: cover;
                        // ==================
                        transition: $transition--22;
                        // ==================
                    }
                }

                // hover.==================
                &:hover .image img {
                    // ==================
                    transform: scale(1.1);
                    // ==================
                }

                // 005.==================
                .content {
                    // ==================
                    padding: 1.5rem;
                    // ==================

                    // 006.==================
                    h3 {
                        // ==================
                        color: $clr--11--secondary-color;
                        // ==================
                        font-size: 2.2rem;
                        // ==================
                    }

                    // 006.==================
                    p {
                        // ==================
                        padding: 1rem 0;
                        // ==================
                        color: $clr--11--secondary-light;
                        // ==================
                        font-size: 1.4rem;
                        line-height: 2;
                        // ==================
                    }
                }

            }
        }
    }
}